<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
    
</div>

<!-- User NOT logged in -->
<ng-template #guest>
        <div id="user-container">
            <button (click)="auth.googleLogin()">
                <i class="fa fa-google"></i> Sign-in with Google
            </button>
        </div>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user" id="user-container">
        <img id="user-pic" [src]="user.photoURL">
        <div id="user-name">{{ user.displayName }}</div>
        <button (click)="auth.signOut()">Sign-out</button>
    </div>
</ng-template>
