<div *ngIf="userLoggedIn; then authenticated else guest">
    <!-- template will replace this div -->

</div>
<ng-template #guest>
    <div id="messages">
        <span id="message-filler"></span>
        <label for="nameField">Need simple drug prescriptions?</label>
        <label for="nameField">Need specialist referral?</label>
        <br>
        <label for="nameField">Skip long queues and waiting times</label>

        <label for="nameField">{{startMessage}}</label>
      
    </div>
</ng-template>

<ng-template #authenticated>
  <div id="messages">
    <span id="message-filler"></span>
    <ng-container *ngFor="let message of messages | async">
      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                        'to':   message.sentBy === 'user' }">
        {{ message.content }}
      </div>
      <ng-container *ngIf="message.quickReplies.length>0">
        <ng-container *ngFor="let qr of message.quickReplies; let i = index" >
          <div class="message card" (click)="quickReply(qr)">👉🏻 {{qr}}</div>
        </ng-container>
      </ng-container>    
    </ng-container>
  </div>
  <label for="nameField">{{startMessage}}</label>
  <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
  <button (click)="sendMessage()">Send</button>
</ng-template>
