<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
            <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
            <h2><i class="material-icons">local_hospital</i> ZipDoc</h2>
            <p>Consultations</p>
            </div>
      
            <app-user-profile></app-user-profile>

        </div>
    </header>

    <main class="mdl-layout__content mdl-color--white-100">
        <div id="messages-card-container" class="mdl-cell mdl-cell--12-col mdl-grid">
            <div id="messages-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                    
                        <app-chat-dialog></app-chat-dialog>
                    
            </div>
        </div>
    </main>
</div>